.container {
  width: 938px;
  min-height: 701px;
  margin: 34px auto 0px auto;
  background: #fff;
  .title {
    color: rgb(38, 38, 38);
    font-size: 20px;
    font-weight: 500;
    padding-top: 48px;
    text-align: center;
  }
}
